.btn {
    &, &:link, &:visited {
      text-decoration: none;
      text-transform: uppercase;
      padding: .75rem 1rem;
      margin: 1rem 0 .5rem;
      display: inline-block;
      border-radius: 1.5rem;
      transition: all .2s;
      position: relative;
      font-size: 1rem;
  
      //update for the <button> el
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom: 1rem;
    }
  
    &::after {
      content: '';
      display: inline-block;
      height: 100%;
      width:100%;
      border-radius: 6.25rem;
      position:absolute;
      top:0;
      left:0;
      z-index: -1;
      transition: all .4s;
    }
  
    &:hover {
      transform: translateY(-.1875rem);
      box-shadow: 0 1rem 2rem rgba($color-black,.2);
  
      &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }
    }
  
    &:active, &:focus {
      transform: translateY(-.0625rem);
      box-shadow: 0 .5rem 1rem rgba($color-black,.2);
      outline: none;
    }
  
    &--white {
      color: $color-grey-dark;
      background-color: $color-white;
  
      &::after {
          background-color: $color-white;
      }
    }
  
    &--primary {
      color: $color-white;
      background-color: $color-primary;
  
      &::after {
          background-color: $color-primary;
      }
    }
  
  
    &--animated {
      animation: moveInBottom .7s ease-out .75s;
      animation-fill-mode: backwards;
    }
  }
  
  .btn-text{
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: .0625rem solid $color-primary;
        padding: .1875rem;
        transition: all .2s;
    }
  
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
  }
  
  .btn-pos {
    float: center;
  }
  
  @media (min-width: 768px) {
    .btn {
      width: auto;
      padding: .75rem 1.5rem;
      border-radius: 3px;
      margin-bottom: .25rem;
      font-size: 1.125rem;
    }
  }
  